lr: 8.0e-4
backbone_lr: 8.0e-5
batch_size: 32
weight_decay: 5.0e-4
epochs: 75
clip_max_norm: 0.1
bf16: True
eval_during_training: True
eval_epochs: 5
eval_size: 512
save_epochs: 10

# scheduler
sched: warmupcos # options: ["step", "warmupcos"]
## warmupcosine
warmup_lr: 1.0e-6
min_lr: 1.0e-6
warmup_epochs: 5
decay_rate: 0.1

# model settings
backbone: dinov3 # options: ["vanilla_vit", "dinov3"]
pretrained: facebook/dinov3-vits16-pretrain-lvd1689m # For the DINOv3 backbone, leave blank to use the default HuggingFace repo
unfreeze:
  - all
no_weight_decay:
  - det_tokens
## vanilla_vit
backbone_size: small
use_checkpoint: False
init_pe_size: [512,864]
mid_pe_size: [512,864]

# Matcher
set_cost_class: 4
set_cost_bbox: 5
set_cost_giou: 2
# Loss coefficients
ce_loss_coef: 4
bbox_loss_coef: 5
giou_loss_coef: 2
eos_coef: 0.2

# dataset parameters
dataset_file: voc # options: ["coco","voc"]
num_classes: 20
coco_path: data/VOC2012_train_val
remove_difficult: False
output_dir: outputs/finetune
device: cuda
seed: 42
resume: # resume from checkpoint
eval: False
start_epoch: 0
num_workers: 100

num_det_tokens: 100
gate_det_tokens: True
enable_det_rope: True
enable_det_feature_mlp: True